button {  background-color: #ff6600; /* لون الخلفية برتقالي */
 color: white; /* لون النص أبيض */  padding: 10px 20px; /* الحشوة الداخلية */
  border: none; /* إزالة الحدود */  border-radius: 5px; /* زوايا مستديرة */
  cursor: pointer; /* تغيير المؤشر عند التمرير */}
.button:hover {
  background-color: #cc5200; /* تغيير لون الخلفية عند التمرير */}
